[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
	ignore = dirty
[submodule "external/glslang"]
	path = external/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "external/vcpkg"]
	path = external/vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "external/cereal"]
	path = external/cereal
	url = https://github.com/USCiLab/cereal.git
