[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog.git
	ignore = dirty
[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt.git
	ignore = dirty
[submodule "external/Catch2"]
	path = external/Catch2
	url = https://github.com/catchorg/Catch2.git
	ignore = dirty
[submodule "external/boost"]
	path = external/boost
	url = https://github.com/boostorg/boost.git
	ignore = dirty
